---
import PiApproximator from "@/components/PiApproximator.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto px-6 py-12 flex flex-col gap-6 lg:px-24 lg:py-24">
    <h1 class="text-3xl text-center text-gray-800 lg:text-5xl">
      Calculadora de Aproximación de π
    </h1>

    <!-- Introducción -->
    <div class="">
      <h2 class="text-xl font-semibold text-gray-700 lg:text-2xl">Introducción</h2>
      <p class="text-base text-gray-600 lg:text-lg">
        Aproxima <strong>π</strong> usando la serie de Leibniz y la fórmula de Larson. Ajusta el número de iteraciones
        y observa cómo mejora la precisión.
      </p>
    </div>

    <!-- Componente PiApproximator -->
    <PiApproximator />

    <!-- Uso -->
    <div class="">
      <h2 class="text-xl font-semibold text-gray-700 lg:text-2xl">Uso</h2>
      <ul class="list-disc pl-6 text-base text-gray-600 lg:text-lg">
        <li>Ajusta el control deslizante para cambiar las iteraciones.</li>
        <li>Observa cómo mejora la aproximación de <strong>π</strong>.</li>
      </ul>
    </div>

    <!-- Conclusión -->
    <div class="">
      <h2 class="text-xl font-semibold text-gray-700 lg:text-2xl">Conclusión</h2>
      <p class="text-base text-gray-600 lg:text-lg">
        Esta herramienta permite explorar cómo la serie de Leibniz aproxima <strong
          >π</strong
        >.
      </p>
    </div>
  </div>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
</style>
